Paint-The_Shed/obj/
Paint-The-Shed/bin/
Paint-The-Shed/bin/Debug/net8.0/Paint_The_Shed.dll
Paint-The-Shed/bin/Debug/net8.0/Paint_The_Shed.exe
Paint-The-Shed/bin/Debug/net8.0/Paint_The_Shed.pdb
Paint-The-Shed/obj/Debug/net8.0/apphost.exe
Paint-The-Shed/obj/Debug/net8.0/Paint_The_Shed.dll
Paint-The-Shed/obj/Debug/net8.0/Paint_The_Shed.pdb
Paint-The-Shed/obj/Debug/net8.0/Paint-The-Shed.AssemblyInfo.cs
Paint-The-Shed/obj/Debug/net8.0/Paint-The-Shed.AssemblyInfoInputs.cache
Paint-The-Shed/obj/Debug/net8.0/Paint-The-Shed.csproj.CoreCompileInputs.cache
Paint-The-Shed/obj/Debug/net8.0/Paint-The-Shed.GeneratedMSBuildEditorConfig.editorconfig
Paint-The-Shed/obj/Debug/net8.0/Paint-The-Shed.sourcelink.json
Paint-The-Shed/obj/Debug/net8.0/Avalonia/resources
Paint-The-Shed/obj/Debug/net8.0/Avalonia/Resources.Inputs.cache
Paint-The-Shed/obj/Debug/net8.0/ref/Paint_The_Shed.dll
Paint-The-Shed/obj/Debug/net8.0/refint/Paint_The_Shed.dll
Paint-The-Shed/bin/Debug/net8.0/Paint_The_Shed.dll
Paint-The-Shed/bin/Debug/net8.0/Paint_The_Shed.exe
Paint-The-Shed/bin/Debug/net8.0/Paint_The_Shed.pdb
Paint-The-Shed/obj/Debug/net8.0/apphost.exe
Paint-The-Shed/obj/Debug/net8.0/Paint_The_Shed.dll
Paint-The-Shed/obj/Debug/net8.0/Paint_The_Shed.pdb
Paint-The-Shed/obj/Debug/net8.0/Paint-The-Shed.AssemblyInfo.cs
Paint-The-Shed/obj/Debug/net8.0/Paint-The-Shed.AssemblyInfoInputs.cache
Paint-The-Shed/obj/Debug/net8.0/Paint-The-Shed.sourcelink.json
Paint-The-Shed/obj/Debug/net8.0/refint/Paint_The_Shed.dll
Paint-The-Shed/obj/Debug/net8.0/ref/Paint_The_Shed.dll
